html {
	height:100%;
}

body {

	/*Pour enlever les scrolls :  overflow:hidden;*/

	height: 100%;
	min-height: 1200px;
	min-width: 800px;
}

.neige {
	background-image:url('../img/snow.png');
	background-size: 100% 1080px;
	background-repeat: repeat-y;
	height: 1160px;
	width: 100%;
	margin : 0;
	-webkit-animation: snowAnim 4s 0s linear infinite;
}

/*
.animNeigne {
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 10;
	position: absolute;
}
*/

@-webkit-keyframes snowAnim {
  from {margin-top: -1080px;}
  to { margin-top: 0px;}
}


.snowman {
	width: 70px;
	height: 70px;
	background-size: 70px 70px;
    background-image: url('../img/snowman22.png');
    position :absolute;
    right: 40%;
    bottom: 30%;
   	-webkit-animation: obstacle 4s 0s linear infinite;
}


.background1 {
	background-image:url('../img/background.jpg');
	background-repeat: no-repeat;
	
	background-size: 100%; 
	width: 100%;
	height : 100%;

}

#skieurImg {
	width: 150px;
	height: auto;
	position: absolute;
	left: 50%;
	margin-left: -150px;
	bottom: 30px;

}

.footcontainer {
	width: 150px;
	height: 50px;
	overflow: hidden;
	position: absolute;
	left: 50%;
	margin-bottom: 15px;
	margin-left: -135px;
	bottom: 30px;
}

@-webkit-keyframes leftSkieurAnim {
  0% 	{left:50%;}
  50% 	{left:10%;}
  100%  {left:50%;}
}

@-webkit-keyframes footSki {
  0% 	{margin-top: 0px;}
  50% 	{margin-top: -50px;}
  100%  {margin-top: -100px;}
}

.left {
	-webkit-animation: leftSkieurAnim 1s 0s linear;
}

.footski {
	-webkit-animation: footSki 0.3s 0s step-end infinite;
}

@-webkit-keyframes rightSkieurAnim {
  0% 	{left:50%;}
  50% 	{left:90%;}
  100%  {left:50%;}
}

.right {
	-webkit-animation: rightSkieurAnim 1s 0s linear;
}
