html {
	height:100%;
}

body {

	height: 100%;
}

.neige {
	background-image:url('../img/snow.png');
	background-size: 100% 1080px;
	background-repeat: repeat;
	height: 2160px;
	width: 100%;
	margin : 0;
	-webkit-animation: snowAnim 4s 0s linear infinite;
}

.animNeigne {
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 10;
	position: absolute;
}




@-webkit-keyframes snowAnim {
  from {margin-top: -1080px;}
  to { margin-top: 0px;}
}


/* Sapins */
@-webkit-keyframes obstacle {
	0% {
		visibility: visible;
	}
	50% {
		transform: scale(3);
		visibility: hidden;
		bottom: 200px;
	}
	100% {
		transform: scale(1);
		visibility: hidden;
	}
}

@-webkit-keyframes obstacle2 {
	0% {
		visibility: visible;
	}
	30% {
		transform: scale(3);
		visibility: hidden;
		bottom: 200px;
	}
	100% {
		transform: scale(1);
		visibility: hidden;
	}
}

/* SAPINS LES PLUS lointains DU SKIEUR */
.sapin1 {
	width: 100px;
	height: 100px;
	background-size: 100px 100px;
    background-image: url('../img/sapin1.png');
    position :absolute;
    left: 10%;
    bottom: 60%;
   	-webkit-animation: obstacle 4s 0s linear infinite;
}

.sapin2 {
	width: 100px;
	height: 100px;
	background-size: 100px 100px;
    background-image: url('../img/sapin2.png');
    position :absolute;
    right: 10%;
    bottom: 60%;
   	-webkit-animation: obstacle 4s 0s linear infinite;
}

/* SAPINS LES PLUS PROCHES DU SKIEUR */
.sapin3 {
	width: 100px;
	height: 100px;
	background-size: 100px 100px;
    background-image: url('../img/sapin1.png');
    position :absolute;
    right: 20%;
    bottom: 60%;
   	-webkit-animation: obstacle2 4s 0s linear infinite;
}
.sapin4 {
	width: 100px;
	height: 100px;
	background-size: 100px 100px;
    background-image: url('../img/sapin2.png');
    position :absolute;
    left: 20%;
    bottom: 60%;
   	-webkit-animation: obstacle2 4s 0s linear infinite;
}
.snowman {
	width: 100px;
	height: 100px;
	background-size: 100px 100px;
    background-image: url('../img/snowman22.png');
    position :absolute;
    right: 50%;
    bottom: 10%;
   	-webkit-animation: obstacle 4s 0s linear infinite;
}


.background1 {
	background-image:url('../img/background.jpg');
	background-size: 100%; 
	width: 100%;
	height : 100%;
	position: absolute;
	z-index: -99;
}

#skieurImg {
	width: 150px;
	height: auto;
	position: absolute;
	left: 50%;
	margin-left: -150px;
	bottom: 30px;
	z-index: -4;
}

.footcontainer {
	width: 150px;
	height: 50px;
	overflow: hidden;
	position: absolute;
	left: 50%;
	margin-bottom: 15px;
	margin-left: -135px;
	bottom: 30px;
	z-index: -5;
}

@-webkit-keyframes leftSkieurAnim {
  0% 	{left:50%;}
  50% 	{left:10%;}
  100%  {left:50%;}
}

@-webkit-keyframes footSki {
  0% 	{margin-top: 0px;}
  50% 	{margin-top: -50px;}
  100%  {margin-top: -100px;}
}

.left {
	-webkit-animation: leftSkieurAnim 1s 0s linear;
}

.footski {
	-webkit-animation: footSki 0.3s 0s step-end infinite;
}

@-webkit-keyframes rightSkieurAnim {
  0% 	{left:50%;}
  50% 	{left:90%;}
  100%  {left:50%;}
}

.right {
	-webkit-animation: rightSkieurAnim 1s 0s linear;
}
