html {
	height:100%;
}

body {
	background-color: blue;
	height: 100%;
}

.neige {
	background-image:url('../img/snow.png');
	background-size: 100% 1080px;
	background-repeat: repeat;
	height: 2160px;
	width: 100%;
	margin : 0;
	-webkit-animation: snowAnim 4s 0s linear infinite;
}

.animNeigne {
	width: 100%;
	height: 600px;
	overflow: hidden;
	z-index: 10;
}


@-webkit-keyframes snowAnim {
  from {margin-top: -1080px;}
  to { margin-top: 0px;}
}
.background1:{
	color: fff;
}

/* Sapins */
@-webkit-keyframes obstacle {
	0% {
		visibility: visible;
	}
	99% {
		transform: scale(3);
	}
	100% {
		transform: scale(1);
		visibility: hidden;
	}
}

.obstacle {
	width: 100px;
	height: 100px;
	background-size: 100px 100px;
    background-image: url('../img/sapin-neige1.png');
   	-webkit-animation: obstacle 2s 2s linear infinite;
}